You can add global styles to this file, and also import other style files
/* Add application styles & imports to this file! */

  .fade.show {
    opacity: 1;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
  display: block;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545!important;
  padding-right: calc(1.5em + .75rem);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E"); */
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
  display: block;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545!important;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.mr-sm-2, .mx-sm-2 {
  margin: .5rem!important;
}
.mb-2, .my-2 {
  margin: .5rem!important;
}

.form-row {
  margin: 0px;
}

@media (min-width: 576px) {
  .form-inline .form-check {
    padding-left: 0.5rem!important;
  }
}

.form-control-sm {
  padding-left: 15px!important;
}

.chosen-select {
    width: 100%;
  }
  
  .chosen-select-deselect {
    width: 100%;
  }
  
  .chosen-container {
    display: inline-block;
    font-size: 13px;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  
  .chosen-container .chosen-drop {
    background: #fff;
    border: 1px solid #e5e6e7;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
  }
  
  .chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
    right: 0;
  }
  
  .chosen-container .chosen-results {
    color: #555555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .chosen-container .chosen-results li {
    display: none;
    line-height: 1.42857;
    list-style: none;
    margin: 0;
    padding: 5px 6px;
  }
  
  .chosen-container .chosen-results li em {
    background: #feffde;
    font-style: normal;
  }
  
  .chosen-container .chosen-results li.group-result {
    display: list-item;
    cursor: default;
    color: #999;
    font-weight: bold;
  }
  
  .chosen-container .chosen-results li.group-option {
    padding-left: 15px;
  }
  
  .chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item;
  }
  
  .chosen-container .chosen-results li.highlighted {
    background-color: #1ab394;
    background-image: none;
    color: white;
  }
  
  .chosen-container .chosen-results li.highlighted em {
    background: transparent;
  }
  
  .chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #777777;
  }
  
  .chosen-container .chosen-results .no-results {
    background: #eeeeee;
    display: list-item;
  }
  
  .chosen-container .chosen-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;
  }
  
  .chosen-container .chosen-results-scroll span {
    display: inline-block;
    height: 1.42857;
    text-indent: -5000px;
    width: 9px;
  }
  
  .chosen-container .chosen-results-scroll-down {
    bottom: 0;
  }
  
  
  
  .chosen-container-single .chosen-single {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #e5e6e7;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #555555;
    display: block;
    height: 34px;
    overflow: hidden;
    line-height: 24px;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .input-group-append{
    display: none;
  }
  .chosen-container-single .chosen-single abbr {
    /* background: url("chosen-sprite.png") right top no-repeat; */
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 26px;
    top: 12px;
    width: 12px;
  }
  .pagination{
    /* color: #1ab394!important;
    border: 5px solid red; */
    display: flex;
    justify-content: start;  
  
     margin: auto;
    color: #1ab394!important;
    margin-top: 5px;
  }

  .pagination>ul>li>a {
    background-color: rgb(35, 165, 104)!important;
    /* color: red!important; */
  }
  .selectList{
    margin-left: 12px;
    width: max-content;
  }
  
  .chosen-container-single .chosen-single abbr:hover {
    background-position: right -11px;
  }
  
  .chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right 2px;
  }
  
  .chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
  }
  
  .chosen-container-single .chosen-single div b {
    /* background: url("chosen-sprite.png") no-repeat 0 7px; */
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .chosen-container-single .chosen-default {
    color: #777777;
  }
  
  .chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
  }
  
  .chosen-container-single .chosen-search input[type="text"] {
    /* background: url("chosen-sprite.png") no-repeat 100% -20px, #fff; */
    border: 1px solid #e5e6e7;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
    width: 100%;
  }
  
  .chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  
  .chosen-container-single-nosearch .chosen-search input[type="text"] {
    position: absolute;
    left: -9000px;
  }
  
  .chosen-container-multi .chosen-choices {
    background-color: #ebecee;
    border-radius: 0;
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    font-size: 1.0625rem;
    border: 1px solid #ebecee;
    padding: .45rem 0.5rem;
    position: relative;
  }
  
  .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
  }
  
  .chosen-container-multi .chosen-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  
  }
  
  .chosen-container-multi .chosen-choices .search-field input[type="text"] {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 17px;
    margin: 0;
    padding: 4px;
    outline: 0;
    /*width:100px;*/
    width: 100%;
  }
  
  .chosen-container-multi .chosen-choices .search-field .default {
    color: #999;
  }
  
  .chosen-container-multi .chosen-choices .search-choice {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #eeeeee;
    border: 1px solid #e5e6e7;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, white 0%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, white 0%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 6px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
  }
  
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    /* background: url("chosen-sprite.png") right top no-repeat; */
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 12px;
    cursor: pointer;
  }
  
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
  }
  
  .chosen-container-multi .chosen-choices .search-choice-focus {
    background: #d4d4d4;
  }
  
  .chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
  }
  
  .chosen-container-multi .chosen-results {
    margin: 0 0 0 0;
    padding: 0;
  }
  
  .chosen-container-multi .chosen-drop .result-selected {
    display: none;
  }
  
  .chosen-container-active .chosen-single {
    border: 1px solid #e5e6e7;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  
  .chosen-container-active.chosen-with-drop .chosen-single {
    background-color: #fff;
    border: 1px solid #1ab394;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  
  .chosen-container-active.chosen-with-drop .chosen-single div {
    background: transparent;
    border-left: none;
  }
  
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px;
  }
  
  .chosen-container-active .chosen-choices {
    border: 1px solid #1ab394;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  
  .chosen-container-active .chosen-choices .search-field input[type="text"] {
    color: #111 !important;
  }
  
  .chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
  
  .chosen-disabled .chosen-single {
    cursor: default;
  }
  
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
  
  .chosen-rtl {
    text-align: right;
  }
  
  .chosen-rtl .chosen-single {
    padding: 0 8px 0 0;
    overflow: visible;
  }
  
  .chosen-rtl .chosen-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl;
  }
  
  .chosen-rtl .chosen-single div {
    left: 7px;
    right: auto;
  }
  
  .chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto;
  }
  
  .chosen-rtl .chosen-choices .search-field input[type="text"] {
    direction: rtl;
  }
  
  .chosen-rtl .chosen-choices li {
    float: right;
  }
  
  .chosen-rtl .chosen-choices .search-choice {
    margin: 6px 5px 3px 0;
    padding: 3px 5px 3px 19px;
  }
  
  .chosen-rtl .chosen-choices .search-choice .search-choice-close {
    background-position: right top;
    left: 4px;
    right: auto;
  }
  
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  
  .chosen-rtl .chosen-results .group-option {
    padding-left: 0;
    padding-right: 15px;
  }
  
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  
  .chosen-rtl .chosen-search input[type="text"] {
    /* background: url("chosen-sprite.png") no-repeat -28px -20px, #fff; */
    direction: rtl;
    padding: 4px 5px 4px 20px;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dppx) {
  
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
      /*background-image: url("chosen-sprite@2x.png") !important;*/
      background-size: 52px 37px !important;
      background-repeat: no-repeat !important;
    }
  }
  
  
  
  .custom-tooltip .tooltip-arrow {
    border-left-color: red !important;
  }
  
  .custom-tooltip .tooltip-inner {
    background-color: red;
  }
  
  rx-select .chosen-choices {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  rx-select .chosen-container-active .chosen-choices {
    border: none;
  }
  
  li.search-field {
    list-style-type: none;
  }
  
/* rx grid */

.div-tbody .div-tr:nth-child(odd) {
  background-color: #e7e7e7;

}

.div-tbody .div-tr:nth-child(even) {
  background-color: #ffffff;

  

}

.div-table {
  display: table;
  width: auto; /* Use a specific width or remove 'auto' if you want it to expand to its container */
  margin: 20px auto; /* Center the table horizontally with 20px top and bottom margin */
  border-collapse: collapse; /* Optional: collapse table borders */
  background-color: #f0f0f0; /* Optional: set a background color */
  border: 1px solid #ccc; /* Optional: add a border */
  padding: 10px; /* Optional: add padding to the table cells */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  border-radius: 5px; /* Optional: round the corners */
  /* overflow: auto; */
}


.div-thead {
  display: table-header-group;
  /* min-width: 100%; */
  
}

.div-tr {
  display: flex;
  /* flex-wrap: wrap; */
width: max-content;  
}
body{
  min-width: 100%;
  margin: 0;
  overflow-x: hidden;  
}
.div-th,
.div-td {
  padding: 15px 15px;
  vertical-align: middle;
 
  border-right: 1px solid #f1f1f1;
  
  display: flex;

  align-items: center;
  width:215px; /* Change this to your desired width */

  /* Add background color */

  /* Add text alignment */
  text-align: center; /* Change this to your desired alignment */

  /* Add text color */
  
}

.div-th:last-child,
.div-td:last-child {
  border-right: 0;
}

.div-thead .div-tr {
  border-bottom: 1px solid #dddddd;
  background-color: #918fee;
}

.div-thead .div-th {
  color: #ffffff;
  font-size: 16px;
  border-right: 1px solid #75b7cf;
  font-weight: normal;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

/*  */







