<p>resetpassword works!</p>
<section class="intro container">
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <div class="fadeIn first">
                <h4>Change Password</h4>
            </div>
            <form [formGroup]="passwordreset">
                <input type="password" formControlName="password" id="password" class="" name="password"
                    placeholder="Enter password">
                <div *ngIf="rpass && rpass.invalid && rpass.touched">
                    <div *ngIf="rpass.errors?.['required']">
                        <small class="text-danger">Password is Required</small>
                    </div>


                </div>


                <!-- {{passwordreset.value|json}} -->

                <button type="button" class="btn px-5 py-1 w-50 mx-auto btncol text-center"
                    [disabled]="!passwordreset.valid" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    (click)="reset()">Reset Password</button>

            </form>
        </div>
    </div>
</section>