.my-bold-text {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.cardhov {
  transition: box-shadow 0.3s;
}

.cardhov:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.spn-col{
  color: #2e054e;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.btncol{
  background-color: #ed264f;
    color: #fff;
}



.intbut{
  color: black;
  background-color: white;
}

.intbut:focus {
  background-color:  #6300a3;
  color: white;
}


@media (max-width:430px){
  .card-img-top{
    width: 100%!important;
  }
}
@media (max-width:986px){
  .card-img-top{
    width: 100%!important;
  }
}


.nav-link {

  color: black;

}

 

.nav-pills .nav-link.active {

  background-color:  #6300a3;

    color: white;

}